# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\xavie\sources\42cursus\gnl\ codebase based on best match to current usage at 1/18/2022
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = tab
trim_trailling_whitespace = true
guidelines = 80

[*.{h,c}]
end_of_line = lf
cpp_space_pointer_reference_alignment = right
